<%- include('Base Include/header.ejs')%>


<link rel="stylesheet" href="css/formLogin.css">

    <br><br><br><br><br><br><br><br><br>
    <div class="container">
    
    
    <form action="/action_page.php" method="post">
    
      <div class="container">

        <label for="uname"><b>First name</b></label>
        <input type="text" placeholder="Enter Firstname" name="first" required>

        <label for="uname"><b>Last name</b></label>
        <input type="text" placeholder="Enter Lastname" name="last" required>


        <label for="uname"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
            
        <button type="submit">Login</button>
        
      </div>
    
    
    </form>
</div>





<%- include('Base Include/footer.ejs')%>